.container {
  --grid-template-columns: 1fr 1fr 1fr 1fr;
  --grid-template-areas:
    "testimonial-1 testimonial-1 testimonial-2 testimonial-3"
    "testimonial-4 testimonial-5 testimonial-5 testimonial-3";
}

// TABLET
@include respond-max(1200px) {
  .container {
    --grid-template-columns: 1fr 1fr 1fr;
    --grid-template-areas:
      "testimonial-1 testimonial-1 testimonial-2"
      "testimonial-3 testimonial-3 testimonial-3"
      "testimonial-4 testimonial-5 testimonial-5";
  }
}

// MOBILE
@include respond-max(600px) {
  .container {
    --grid-template-columns: 1fr;
    --grid-template-areas:
      "testimonial-1"
      "testimonial-2"
      "testimonial-3"
      "testimonial-4"
      "testimonial-5";
  }
}

// STYLE
.container {
  display: grid;
  padding: 30px;
  grid-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: var(--grid-template-columns);
  grid-template-areas: var(--grid-template-areas);
  max-width: var(--container-max-width);
  margin: 0 auto;
  margin-top: 20px;
}
