.header-testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  > .image {
    width: 34px;
    border-radius: 100%;
    border: solid 2px gray;
  }

  > .info {
    display: grid;
    flex-direction: column;
    margin-left: 16px;
    font-size: 1rem;
    color: var(--color-light-grayish-blue);
  }

  > .info > .graduate {
    opacity: 50%;
  }
}
