@import './reset';
@import './utils';

@import './card-testimonial';
@import './header-testimonial';
@import './container';

:root {
  --color-violet: hsl(263, 55%, 52%);
  --color-gray-blue: hsl(217, 19%, 35%);
  --color-blackish-blue: hsl(219, 29%, 14%);

  --color-light-gray: hsl(0, 0%, 81%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);

  --container-max-width: 1440px;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 100%;
  background-color: var(--color-light-grayish-blue);
}
